---
const { title = 'Puppyspace!!!', ...props } = Astro.props;
---
<title>{title}</title>
<meta name="description" content="Welcome to my new website!">

<!-- Open Graph tags -->
<meta property="og:title" content="Puppyspace" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://fault.wtf/" />
<meta property="og:description" content="Welcome to my new website!" />
<meta property="og:image:alt" content="">
